Repository DSA-n-DEV/Resources-Library, pull requests merged in 2023-10, with the labels that each got.

#7 Add files via upload
  Library/Hactoberfest 2023/CP Handbook Antti Laaksonen.pdf
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-2023

#22 Add files via upload
  Library/Hactoberfest 2023/,c++refcard.pdf
Labels: hacktoberfest

#28 Added Coding Interview Preparation by Kaiyu Zheng.pdf
  Library/Hactoberfest 2023/Coding Interview Preparation by Kaiyu Zheng.pdf
Labels: hacktoberfest

#30 Node Js resources added
  Library/Hactoberfest 2023/Node Js Complete Handbook.pdf
Labels: hacktoberfest-accepted, hacktoberfest

#34 Added CPP STL Reference Manual
  Library/Hactoberfest 2023/CPP_STL_ReferenceManual.pdf
Labels: hacktoberfest-accepted, hacktoberfest, hacktoberfest-2023

#33 Tricky Interview Questions
  Library/Hactoberfest 2023/tricky interview questions/🧐Tricky Interview Questions👉 swipe.pdf
Labels: hacktoberfest-accepted, hacktoberfest, hacktoberfest-2023

#35 Adding Flutter Resources
  Library/Hactoberfest 2023/Flutter development resources/Managing sessions in flutter applications.pdf
Labels: hacktoberfest-accepted, hacktoberfest

#38 ADDED DSA TOP MATERIAL HARD TO FIND
  Library/Hactoberfest 2023/tricky interview questions/DATA STRUCTURE.pdf
Labels: hacktoberfest-accepted, hacktoberfest, hacktoberfest-2023

#40 Added a free resource for learning DSA + JAVA programming
  Library/Hactoberfest 2023/DSA with java/readme.md
Labels: hacktoberfest-accepted, hacktoberfest, hacktoberfest-2023
